.contact-us-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  padding-bottom: 4.354rem;
  position: relative;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 32.5rem;
}

.form-contact-username {
  display: flex;
  width: 100%;
  column-gap: 2.224rem;
  margin-bottom: 2.395rem;
}

.form-contact-username input {
  max-width: 11.138rem;
}

.form-contact-infomation {
  width: 100%;
}

.form-contact>input,
.form-contact>textarea {
  margin-bottom: 2.395rem;
}

.contact-us-img {
  width: 32.5rem;
  height: 25.125rem;
  margin-top: 5.5rem;
}

.contact-us-description {
  margin-bottom: 2.75rem;
}

.bg-contact-us {
  position: absolute;
  top: -13.188rem;
  left: 0;
  transform: rotateY(180deg);
  width: 77%;
  height: 100%;
  z-index: -1;
}

@media (max-width:639px) {
  .contact-us-img-wrapper {
    display: none;
  }

  .contact-us-right-content {
    text-align: center;
  }

  .form-contact-username input {
    display: block;
    width: 100%;
    max-width: 90.5%;
  }

  .form-contact-username input:last-child {
    margin-top: 1rem;
  }

  .form-contact-username {
    column-gap: 0;
    margin-bottom: 1rem;
    display: block
  }

  .form-contact>input,
  .form-contact>textarea {
    margin-bottom: 1rem;
  }

  .btn-send-mail{
    font-size: 0.65rem;
    margin: 0 auto;
  }
}