@font-face {
  font-family: poppins;
  src: url('/font/Poppins-Medium.ttf');
}

html {
  font-size: 1vw !important;
  scroll-behavior: smooth;
}

@media (max-width: 639px) {
  html {
    font-size: 4.267vw !important;
  }
}

html,
body {
  all: unset
}

body {
  font-family: 'poppins';
}

.header {
  display: flex;
  flex: 1;
  max-width: 71.25rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
}

.nav {
  display: flex;
  gap: 2.813rem;
}

@media (max-width: 639px) {
  .nav {
    display: none;
  }
}

.logo {
  width: 16.125rem;
  height: 3.938rem;
}

.nav-title {
  font-size: 1rem;
  color: #8B8B8B;
  cursor: pointer;
}

.nav-title:hover {
  color: #414880;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  display: none;
}

@media (max-width: 639px) {
  #main {
    display: inline;
  }
}