@font-face {
  font-family: poppins;
  src: url('/font/Poppins-Medium.ttf');
}

@font-face {
  font-family: poppins-400;
  src: url('/font/Poppins-Light.ttf');
}


html {
  font-size: 1vw !important;
  scroll-behavior: smooth;
}

@media (max-width: 639px) {
  html {
    font-size: 4.267vw !important;
  }
}

html,
body {
  all: unset
}

body {
  font-family: 'poppins';
}

.beautice-btn{
  color: white !important;
  background-color: #FF64AE;
  padding: 0.875rem 2.5rem;
  border-radius: 3.125rem;
  width: fit-content;
  cursor: pointer;
}

textarea{
  resize: none;
}

input,textarea {
  padding: 1rem 1.5rem;
  border-radius: 0.9rem;
  border: 1px solid #D9DDFE;
}

input::placeholder, textarea::placeholder {
 font-family: 'poppins-400';
 font-weight: 400;
 font-size: 1rem;
 letter-spacing: 0.1rem;
 color:#C5C5C5;
}

input:focus-visible, textarea:focus-visible {
  border: 1px solid #b5bcfd;
  outline: none;
 }

@media screen and (max-width:639px) {
 .container{
  padding:0 0.25rem;
 }
 .beautice-btn{
  padding: 0.475rem 1rem;
 }
 input::placeholder, textarea::placeholder {
  font-size: 0.625rem;
 }

 input,textarea {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #D9DDFE;
}
}